<%- include('nav.ejs') %>

<!-- Start Section -->
<section id="form-login" class="section-rpl">
  <div class="container">
    <h1 class="mb-4">Profil Jurusan BD SMKN 12 Kabupaten Tangerang</h1>
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
      data-interval="3000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/bd-poto1.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="img/bd-poto2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="img/bd-poto3.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
    </div>
    <div class="pembahasan">
      <h3>Apasih Bisnis Digital itu?</h3>
      <p>
        keterampilan dan pengetahuan di bidang bisnis dengan fokus pada
        pemanfaatan teknologi digital. Dalam program ini, siswa diajarkan
        konsep-konsep bisnis tradisional seperti manajemen, pemasaran, dan
        keuangan, namun dengan penekanan khusus pada penerapan teknologi digital
        dalam strategi bisnis. Siswa belajar tentang pemanfaatan media sosial,
        e-commerce, analisis data, dan platform digital lainnya untuk
        meningkatkan efisiensi operasional dan mencapai keunggulan bersaing.
      </p>
    </div>

    <div class="pembahasan">
      <h3>Lulusan SMK jurusan BD bisa kerja apa?</h3>
      <p>
        Lulusan SMK jurusan Bisnis Digital (BD) memiliki peluang karir yang
        menjanjikan di era digital saat ini. Mereka dapat memilih untuk menjadi
        Digital Marketing Specialist, bertanggung jawab atas strategi pemasaran
        online dan optimasi mesin pencari. Alternatifnya, mereka dapat menjadi
        E-commerce Specialist, mengelola operasional bisnis online dan platform
        e-commerce. Sebagai Social Media Manager, lulusan BD dapat fokus pada
        pengembangan kehadiran merek di media sosial dengan membuat konten
        menarik dan berinteraksi dengan audiens.
      </p>
    </div>

    <div class="logo">
      <img src="img/logo-bd.png" alt="" />
    </div>
  </div>
</section>
<!-- End section -->

<%- include('footer.ejs') %>
