<%- include('nav.ejs') %>

<!-- Start Section -->
<section id="form-login" class="section-rpl">
  <div class="container">
    <h1 class="mb-4">Profil Jurusan DPIB SMKN 12 Kabupaten Tangerang</h1>
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/dpib-poto1.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="img/dpib-poto2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="img/dpib-poto3.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
    </div>
    <div class="pembahasan">
      <h3>Apasih Desain Pemodelan dan Informasi Bangunan itu?</h3>
      <p>
        DPIB atau yang lebih dikenal dengan Desain Pemodelan dan Informasi
        Bangunan dahulu bernama Teknik Gambar Bangunan (TGB) merupakan salah
        satu Kompetensi Keahlian yang membekali peserta didik dengan sikap,
        pengetahuan, dan keterampilan dalam bidang Desain Pemodelan dan
        Informasi Bangunan untuk: Bekerja secara mandiri.
      </p>
    </div>

    <div class="pembahasan">
      <h3>Lulusan SMK jurusan DPIB bisa kerja apa?</h3>
      <p>
        Target lulusan Kompetensi Keahlian Desain Pemodelan dan Informasi
        Bangunan atau Teknik Arsitek yaitu alumni kami persiapkan untuk kompeten
        dalam bidang Konsultan Bangunan, Kontraktor Bangunan, Developer dan
        mampu menciptakan lapangan pekerjaan yang berkaitan dengan Rancang
        Bangun. Konstruksi jalan dan Jembatan, dsb.
      </p>
    </div>

    <div class="logo">
      <img src="img/logo-dpib.png" alt="" />
    </div>
  </div>
</section>
<!-- End section -->

<%- include('footer.ejs') %>
