<%- include('nav.ejs') %>

<!-- Start Section -->
<section id="form-login" class="sectionR">
  <div class="container">
    <div class="row">
      <div class="col col-two msk">
        <h1 class="judulM">Login</h1>
        <form>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control lol lol-u"
              id="username"
              placeholder="your username"
              required
              minlength="8"
              maxlength="20"
            />
          </div>
          <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control lol lol-p"
              id="password"
              placeholder="isi password"
              required
              minlength="8"
              maxlength="20"
            />
          </div>
          <div class="cn mtt-4">
            <button class="btn btnM">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End section -->

<!-- Start footer -->
<footer>
  <div class="container-fluid">
    <div class="container d-flex flex-column">
      <div class="row d-flex">
        <div class="col d-flex flex-column find-us">
          <h3>Find Us</h3>
          <p>
            Kp. Babakan Rt. 01/01, Babakan, Kec. Legok, Kabupaten Tangerang,
            Banten 15118
          </p>
        </div>
        <div class="col d-flex flex-column">
          <h3>Chat With Us</h3>
          <div class="telepon">
            <span class="svg"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="19"
                height="19"
                viewBox="0 0 19 19"
                fill="none"
              >
                <path
                  d="M15.7938 16.625C14.0917 16.625 12.4326 16.2455 10.8165 15.4866C9.20049 14.7276 7.76889 13.7249 6.52175 12.4783C5.27461 11.2316 4.27183 9.80004 3.51342 8.18346C2.755 6.56687 2.37553 4.90781 2.375 3.20625C2.375 2.96875 2.45417 2.77083 2.6125 2.6125C2.77083 2.45417 2.96875 2.375 3.20625 2.375H6.4125C6.59722 2.375 6.76215 2.43437 6.90729 2.55312C7.05243 2.67187 7.13819 2.82361 7.16458 3.00833L7.67917 5.77917C7.70556 5.96389 7.70213 6.13225 7.66888 6.28425C7.63563 6.43625 7.55989 6.57136 7.44167 6.68958L5.54167 8.62917C6.09583 9.57917 6.78854 10.4698 7.61979 11.301C8.45104 12.1323 9.36806 12.8514 10.3708 13.4583L12.2312 11.5979C12.35 11.4792 12.5052 11.3902 12.6968 11.3311C12.8883 11.272 13.0762 11.2554 13.2604 11.2812L15.9917 11.8354C16.1764 11.875 16.3281 11.9642 16.4469 12.103C16.5656 12.2418 16.625 12.4033 16.625 12.5875V15.7938C16.625 16.0313 16.5458 16.2292 16.3875 16.3875C16.2292 16.5458 16.0313 16.625 15.7938 16.625Z"
                  fill="#26335d"
                /></svg
            ></span>
            <span>02129506044</span>
          </div>
          <div class="email">
            <span class="svg"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M16.6667 3.33337H3.33341C2.41675 3.33337 1.67508 4.08337 1.67508 5.00004L1.66675 15C1.66675 15.9167 2.41675 16.6667 3.33341 16.6667H16.6667C17.5834 16.6667 18.3334 15.9167 18.3334 15V5.00004C18.3334 4.08337 17.5834 3.33337 16.6667 3.33337ZM16.6667 6.66671L10.0001 10.8334L3.33341 6.66671V5.00004L10.0001 9.16671L16.6667 5.00004V6.66671Z"
                  fill="#26335d"
                /></svg
            ></span>
            <span>smkn12kabtangerangs@gmail.com</span>
          </div>
        </div>
        <div class="col d-flex flex-column social-m">
          <h3>Our Social Media</h3>
          <div class="linkind">
            <span class="svg">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="65"
                height="20"
                viewBox="0 0 65 74"
                fill="none"
              >
                <path
                  d="M46.5893 4.66285L44.9004 2H34.6802V25.9831L34.6454 49.4092C34.6628 49.5833 34.6802 49.7747 34.6802 49.9488C34.6802 55.814 29.9097 60.6002 24.0248 60.6002C18.1399 60.6002 13.3693 55.8314 13.3693 49.9488C13.3693 44.0835 18.1399 39.2974 24.0248 39.2974C25.2435 39.2974 26.4275 39.5236 27.5244 39.9065V28.2108C26.3927 28.0194 25.2261 27.915 24.0248 27.915C11.8894 27.9324 2 37.818 2 49.9662C2 62.1144 11.8894 72 24.0422 72C36.195 72 46.0844 62.1144 46.0844 49.9662V22.1019C50.4893 26.5052 56.1827 30.8041 62.4854 32.179V20.2223C55.643 17.1939 48.8353 8.24814 46.5893 4.66285Z"
                  stroke="#26335d"
                  stroke-width="4"
                />
              </svg>
            </span>
            <span>@smkn12kabtaofficial</span>
          </div>
          <div class="instagram">
            <span class="svg"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M11.999 7.37695C10.7726 7.37695 9.59651 7.86412 8.72934 8.73129C7.86217 9.59846 7.375 10.7746 7.375 12.001C7.375 13.2273 7.86217 14.4034 8.72934 15.2706C9.59651 16.1378 10.7726 16.625 11.999 16.625C13.2254 16.625 14.4015 16.1378 15.2687 15.2706C16.1358 14.4034 16.623 13.2273 16.623 12.001C16.623 10.7746 16.1358 9.59846 15.2687 8.73129C14.4015 7.86412 13.2254 7.37695 11.999 7.37695ZM11.999 15.004C11.2023 15.004 10.4382 14.6875 9.87485 14.1241C9.31149 13.5607 8.995 12.7967 8.995 12C8.995 11.2032 9.31149 10.4392 9.87485 9.8758C10.4382 9.31245 11.2023 8.99595 11.999 8.99595C12.7957 8.99595 13.5598 9.31245 14.1231 9.8758C14.6865 10.4392 15.003 11.2032 15.003 12C15.003 12.7967 14.6865 13.5607 14.1231 14.1241C13.5598 14.6875 12.7957 15.004 11.999 15.004Z"
                  fill="#26335d"
                />
                <path
                  d="M16.806 8.28503C17.4014 8.28503 17.884 7.80239 17.884 7.20703C17.884 6.61166 17.4014 6.12903 16.806 6.12903C16.2107 6.12903 15.728 6.61166 15.728 7.20703C15.728 7.80239 16.2107 8.28503 16.806 8.28503Z"
                  fill="#26335d"
                />
                <path
                  d="M20.533 6.111C20.3015 5.51319 19.9477 4.97029 19.4943 4.51706C19.0409 4.06384 18.4979 3.71028 17.9 3.479C17.2003 3.21636 16.4611 3.07435 15.714 3.059C14.751 3.017 14.446 3.005 12.004 3.005C9.56195 3.005 9.24895 3.005 8.29395 3.059C7.54734 3.07356 6.80871 3.21561 6.10995 3.479C5.51189 3.71001 4.96872 4.06348 4.51529 4.51673C4.06186 4.96999 3.70818 5.51303 3.47695 6.111C3.21426 6.81062 3.07257 7.54984 3.05795 8.297C3.01495 9.259 3.00195 9.564 3.00195 12.007C3.00195 14.449 3.00195 14.76 3.05795 15.717C3.07295 16.465 3.21395 17.203 3.47695 17.904C3.70883 18.5018 4.06285 19.0446 4.51639 19.4978C4.96993 19.951 5.51302 20.3046 6.11095 20.536C6.80839 20.8092 7.54732 20.9614 8.29595 20.986C9.25895 21.028 9.56395 21.041 12.006 21.041C14.448 21.041 14.761 21.041 15.716 20.986C16.4631 20.9708 17.2022 20.8291 17.902 20.567C18.4997 20.3352 19.0426 19.9813 19.4959 19.528C19.9493 19.0746 20.3031 18.5318 20.535 17.934C20.798 17.234 20.939 16.496 20.954 15.748C20.997 14.786 21.01 14.481 21.01 12.038C21.01 9.59501 21.01 9.285 20.954 8.328C20.9423 7.57028 20.7999 6.82025 20.533 6.111ZM19.315 15.643C19.3085 16.2193 19.2033 16.7902 19.004 17.331C18.8538 17.7199 18.6239 18.073 18.329 18.3677C18.0342 18.6624 17.6809 18.8921 17.292 19.042C16.7572 19.2405 16.1923 19.3456 15.622 19.353C14.672 19.397 14.404 19.408 11.968 19.408C9.52995 19.408 9.28095 19.408 8.31295 19.353C7.74288 19.346 7.17828 19.2408 6.64395 19.042C6.25364 18.893 5.89895 18.6637 5.60284 18.369C5.30673 18.0742 5.07579 17.7206 4.92495 17.331C4.7284 16.7961 4.62326 16.2318 4.61395 15.662C4.57095 14.712 4.56095 14.444 4.56095 12.008C4.56095 9.571 4.56095 9.322 4.61395 8.353C4.62042 7.77703 4.72561 7.20642 4.92495 6.666C5.22995 5.877 5.85495 5.256 6.64395 4.954C7.17854 4.75614 7.74298 4.65097 8.31295 4.643C9.26395 4.6 9.53095 4.588 11.968 4.588C14.405 4.588 14.655 4.588 15.622 4.643C16.1924 4.64987 16.7573 4.75508 17.292 4.954C17.6809 5.10428 18.0341 5.33421 18.3289 5.62903C18.6238 5.92386 18.8537 6.27708 19.004 6.666C19.2005 7.20095 19.3056 7.76516 19.315 8.335C19.358 9.28601 19.369 9.553 19.369 11.99C19.369 14.426 19.369 14.688 19.326 15.644H19.315V15.643Z"
                  fill="#26335d"
                /></svg
            ></span>
            <span>@smkn12kabta_official</span>
          </div>
        </div>
      </div>
      <p class="tm">
        Copyright © 2023 SMK Negri 12 Kabupaten Tangerang. All Right
        Reserved
      </p>
    </div>
  </div>
</footer>
<!-- End footer -->

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>

<script src="js/login.js"></script>
</body>
</html>
