<%- include('nav.ejs') %>

<!-- Start Section -->
<section id="form-login" class="section-rpl">
  <div class="container">
    <h1 class="mb-4">Profil Jurusan RPL SMKN 12 Kabupaten Tangerang</h1>
    <%- include('carosel.ejs') %>
    <div class="pembahasan">
      <h3>Apasih Rekayasa Perangkat Lunak itu?</h3>
      <p>
        Jurusan Rekayasa Perangkat Lunak (RPL) adalah bidang studi di dunia
        pendidikan yang menekankan pada pengembangan keterampilan dan
        pengetahuan dalam rekayasa perangkat lunak atau software. Fokus utama
        dari jurusan ini adalah pada rangkaian lengkap pengembangan perangkat
        lunak, mencakup tahap perencanaan, analisis kebutuhan, desain,
        implementasi, pengujian, hingga pemeliharaan. Mahasiswa jurusan RPL
        memperoleh pemahaman mendalam tentang berbagai teknik dan metode
        pengembangan perangkat lunak, termasuk pemrograman, analisis dan desain
        sistem, serta manajemen proyek.
      </p>
    </div>

    <div class="pembahasan">
      <h3>Lulusan SMK jurusan RPL bisa kerja apa?</h3>
      <p>
        Lulusan SMK jurusan Rekayasa Perangkat Lunak (RPL) memiliki peluang
        karir yang luas dalam industri teknologi informasi. Mereka dapat bekerja
        sebagai programmer atau pengembang perangkat lunak, merancang dan
        mengembangkan aplikasi atau sistem perangkat lunak. Peran lain yang
        dapat diambil adalah sebagai analis sistem, bertanggung jawab untuk
        menganalisis kebutuhan bisnis dan merancang solusi perangkat lunak yang
        efisien.
      </p>
    </div>

    <div class="logo">
      <img src="img/logo-rpl.png" alt="" />
    </div>
  </div>
</section>
<!-- End section -->

<%- include('footer.ejs') %>
