<%- include('nav.ejs') %>

<!-- Start Section -->
<section id="form-login" class="sectionV">
  <div class="container">
    <h1 class="mb-4">SEJARAH SMKN 12 KABUPATEN TANGERANG</h1>
    <div class="misi">
      <p>
        SMKN 12 kab.tangerang berdiri pada tanggal 9 desember 2014. dengan
        kepala sekolah pertama yaitu Bpk. Drs. mahfudin, M.Pd, MM. pada angkatan
        pertama terdapat 3 jurusan yaitu :
      </p>
      <ul>
        <li>TBSM (teknik bisnis sepeda motor)</li>
        <li>BDPM (bisnis daring dan pemasaran)</li>
        <li>RPL (rekayasa perangkat lunak)</li>
      </ul>
      <p>
        Kemudian pada tahun 2015 kepala sekolah diganti mennjadi Bpk. Isman
        hidayat, M.Pd. Dan bertambah jurusan TITL (teknik instalasi tenaga
        listrik). Pada tahun 2020 ini juga SMKN 12 Kab.tangerang menambah 1
        jurusan yaitu DPIB (desain permodelan informasi bangunan) dan berganti
        kepala sekolah menjadi Bpk. Ahmad aris, S.Pd, Fis.
      </p>
    </div>
  </div>
</section>
<!-- End section -->

<%- include('footer.ejs') %>
