<%- include('nav.ejs') %>

<!-- Start Section -->
<section id="form-login" class="section-rpl">
  <div class="container">
    <h1 class="mb-4">Profil Jurusan TSM SMKN 12 Kabupaten Tangerang</h1>
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/tsm-poto1.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="img/tsm-poto2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="img/tsm-poto3.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
    </div>
    <div class="pembahasan">
      <h3>Apasih Teknik Sepeda Motor itu?</h3>
      <p>
        Teknik sepeda motor merupakan disiplin ilmu yang membahas berbagai aspek
        terkait dengan perancangan, perawatan, dan pemeliharaan sepeda motor.
        Program ini mencakup pemahaman mendalam tentang mesin sepeda motor,
        sistem bahan bakar, sistem pengapian, transmisi, dan sistem suspensi.
        Selain itu, mereka diajarkan untuk menganalisis dan memperbaiki berbagai
        masalah teknis yang mungkin timbul dalam fungsi sepeda motor.
      </p>
    </div>

    <div class="pembahasan">
      <h3>Lulusan SMK jurusan TSM bisa kerja apa?</h3>
      <p>
        Lulusan program teknik sepeda motor memiliki peluang karir yang beragam
        di industri otomotif. Mereka dapat menjadi teknisi sepeda motor,
        bertanggung jawab untuk perbaikan dan pemeliharaan, atau montir sepeda
        motor yang merakit dan memastikan kualitas komponen. Pilihan lain
        termasuk pekerjaan di pusat layanan pelanggan, menjelaskan prosedur
        perbaikan dan memberikan saran teknis. Beberapa lulusan dapat memilih
        jalur penjualan sebagai sales engineer untuk produk otomotif, termasuk
        sepeda motor.
      </p>
    </div>

    <div class="logo">
      <img src="img/logo-tsm.png" alt="" />
    </div>
  </div>
</section>
<!-- End section -->

<%- include('footer.ejs') %>
