<%- include('nav.ejs') %>

<!-- Start Section -->
<section id="form-login" class="sectionV">
  <div class="container">
    <h1 class="mb-4">VISI MISI SMKN 12 KABUPATEN TANGERANG</h1>
    <div class="visi">
      <h3>Visi</h3>
      <p>
        Menjadi sekolah unggulan yang berbasis karakter kompetensi dan
        berorientasi perkembangan teknologi dan industri dalam membentuk lulusan
        yang Berakhlakul Karimah, Mandiri, Terampil dan Kompetitif.
      </p>
    </div>
    <div class="misi">
      <h3>Misi</h3>
      <ol>
        <li>Membangun kemitraan industri.</li>
        <li>
          Memanfaatkan teknologi informasi dalam pembelajaran dan pelayanan
          Pendidikan.
        </li>
        <li>
          Meningkatkan kompetensi peserta didik sesuai dengan kebutuhan
          industri.
        </li>
        <li>Meningkatkan profesionalisme kerja guru dan karyawan.</li>
        <li>
          Mewujudkan kegiatan keagamaan serta mengembangkan kearifan lokal.
        </li>
        <li>
          Sebagai Penyelanggara Program Pendidikan dan Latihan untuk
          meningkatkan pengetahuan dan keterampilan siswa.
        </li>
      </ol>
    </div>
  </div>
</section>
<!-- End section -->

<%- include('footer.ejs') %>
